<%- include('includes/head'); %>
<%- include('includes/nav'); %>
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 my-4">
            <h1 class="text-center">Olá <%= user.email %> seja bem vindo!</h1>
            <p class="offset-2 my-4 col-8 text-center">Clique em Cadastrar contato se quiser cadastrar um novo contato em sua agenda, clique em Agenda se quiser ver os contatos ou editar um contato existente, ou clique em sair para deslogar.</p>
            <%- include('includes/messages'); %>


        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
<%- include('includes/footer'); %>